<style type="text/css">
    .longbanner {
        width: 300px;
        height: 600px;
    }

    @media (min-width:601px) {
        .longbanner {
            width: 706px;
            height: 250px;
        }
    }
</style>
<div class="center-align">
    <!-- digi 300*600 -->
    <ins class="adsbygoogle longbanner" style="display:inline-block;width:300px;height:600px"
        data-ad-client="ca-pub-2768534277799744" data-ad-slot="2615209184"></ins>
</div>