<style type="text/css">
    .billboard {
        width: 300px;
        height: 250px;
    }

    @media (min-width:601px) {
        .billboard {
            width: 706px;
            height: 250px;
        }
    }
</style>
<div class="center-align">
    <ins class="adsbygoogle billboard" style="display:inline-block;" data-ad-client="ca-pub-2768534277799744"
        data-ad-slot="3552341160"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>